/* Styles for the dark mode toggle button */
#darkmodebutton {
    background-color: #ffa500;; /* Primary blue color */
    color: rgb(0, 0, 0); /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px; /* Reduced padding for a narrower button */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
    margin-right: 10px;
    box-shadow: 0 0 0 3px #ffa500; /* Custom focus outline */
  }
  
  /* Hover state for the button */
  #darkmodebutton:hover {
    background-color: black; /* Darker blue on hover */
    color: white;
  }
  
  /* Active state for the button */
  #darkmodebutton:active {
    transform: scale(0.95); /* Slightly shrink the button when active */
  }
  