@font-face {
    font-family: "MyCustomFont";
    src: url("LEMONMILK-Regular.otf") format("opentype");
}

.lm-reg-font {
    font-family: "MyCustomFont", sans-serif;
    font-size: 26px;
}

.lm-reg-font-m {
    font-family: "MyCustomFont", sans-serif;
    font-size: 16px;
}

.lm-reg-font-p {
    font-family: "MyCustomFont", sans-serif;
    font-size: 12px;
}

.hover-underline:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #ffc107;
}

.cv-button:hover {
    text-decoration: none;
    background-color: #ffc107 !important;
    color: black;
}

.lato-p {
    font-family: 'Lato', sans-serif;
}

.send-button:hover {
    text-decoration: none;
    background-color: black !important;
    color: #ffc107 !important;
}

.expanded-project {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.expanded-card {
    width: 75vw;
    height: 80vh;
    background-color: white;
    border: 5px solid #ffc107;
    display: flex;
    justify-content: center;
}
.plain-yellow-underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #ffc107;
}
