/* Define CSS variables for light and dark themes */

/* Apply CSS variables */

body {
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  background-color: #fffcfc;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}

/* Container class to center content */

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Section styles */

section {
  margin-top: -137px; /* Adjust as needed */
  padding-top: 125px; /* Adjust to match header padding */
  background-color: #fffcfc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Section headings */

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #ffa500;
  display: inline-block;
}

.scroll-margin {
  scroll-margin-top: 50px; /* Adjust to match the height of your header */
}

/* Paragraph styling */

p {
  margin-bottom: 15px;
  line-height: 1.6;
}

button {
  margin: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: #333;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/*  DARK MODE CSS  */

[data-theme='dark'] {
  background-color: rgb(30, 30, 30);
  color: #ffffff;
  background-image: none; /* or any dark mode specific background image */
}

[data-theme='dark'] body {
  color: #fff;
}

[data-theme='dark'] section {
  color: #fff;
  background-color: rgb(30, 30, 30);
}

[data-theme='dark'] button {
  color: rgb(240, 239, 239);
}

[data-theme='dark'] .container {
  color: white;
    text-shadow:
      0 0 7px #ffa500;
}

[data-theme='dark'] h2 {
  color: #fff;
    text-shadow:
      0 0 7px #ffa500;
}
