footer {
    background-image: url("../images/header-black.jpg");
    color: #fff;
    padding: 20px 0;
    margin-top: auto;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #000;
}

footer p {
    margin: 0;
    font-size: 16px;
}

footer p a {
    color: #ffa500;
    transition: color 0.3s ease;
}

footer p a:hover {
    color: #fff;
    text-decoration: underline;
}

#footer-text {
    text-shadow:
        -0.3px -0.3px 0 #000,  
         0.3px -0.3px 0 #000,
        -0.3px  0.3px 0 #000,
         0.3px  0.3px 0 #000;
}

/*  DARK MODE CSS  */

[data-theme='dark'] footer {
    border-top: 2px solid #ffa500;
    margin-top: auto;
}